.hamburger:hover > div:nth-child(1){
  transition: background-color;
  animation-name: top;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.hamburger:hover > div:nth-child(2){
  transition: opacity;
  animation-name: middle;
  animation-duration: .1s;
  animation-fill-mode: forwards;
}

.hamburger:hover > div:nth-child(3){
  transition: background-color;
  animation-name: bottom;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

nav {
  opacity: 0;
  transition-duration: 1s;
}

.hamburger:hover ~ nav {
  opacity: 1;
}

@keyframes top {
  to {
    transform: translate(0, 33px) rotate(45deg);
    background-color: ghostwhite;
  }
}

@keyframes middle {
  to {
    opacity: 0;
  }
}

@keyframes bottom {
  to {
    transform: translate(0, -33px) rotate(-45deg);
    background-color: ghostwhite;
  }
}
